<!DOCTYPE html>
<html lang="en">
<head>
  <title>TIL</title>  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="u-full-width">
        <h2>TIL: Today I Learned <small>Perfect Web Service</small></h2>
      </div>
    </div>

    {{#acronyms}}
    <div class="row">
      <div class="three columns">
        <h5><span>{{short}}</span></h5>
      </div>
      <div class="six columns">
        <p><span>{{long}}</span></p>
      </div>
      <div class="three columns">    
      </div>
    </div>
    {{/acronyms}}

  </div>
</body>
</html>
